<div *ngIf="users">
  <div class="panel panel-primary">
    <div class="panel-heading panel-text">
      Logged In Users
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item"
          *ngFor="let user of users"
          (click)="togglePermissions(user)"
        >
          <span class="panel-text">{{ user.userName }}</span>
          <span class="permission-granted-text">Permission Granted</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="flash-success">
  <flash-messages></flash-messages>
</div>