<div class="col-xs-6 col-md-3" *ngIf="todolist">
    <div class="thumbnail thumbnail-height">
        <div class="caption">
	          <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
        	  <span
        	    aria-hidden="true"
        	    class="glyphicon glyphicon-edit todo-edit-icon"
        	    (click)="editTodo(index)"
        	  ></span>
            <h3
              class="todo-title"
              *ngIf="todolist.title.length < 20"
            >{{ todolist.title }}</h3>
            <h3
              class="todo-title"
              *ngIf="todolist.title.length > 20"
            >{{ todolist.title.substring(0, 20)}}...</h3>
            <p *ngIf="todolist.description.length < 90">
              {{ todolist.description }}</p>
            <p *ngIf="todolist.description.length > 90">
              {{ todolist.description.substring(0, 90) }}...
            </p>
            <p>Created: {{todolist.createdOn}}</p>
            <button
              class="btn btn-info btn-xs"
              type="button"
              *ngIf="todolist.description.length > 90"
              (click)="showDetails(index)"
            >Read More</button>
            <span
              class="glyphicon glyphicon-ok-circle todo-completed-icon"
              aria-hidden="true"
              *ngIf="todolist.completed"
            ></span>
            <span
              class="glyphicon glyphicon-remove-circle todo-not-completed-icon"
              aria-hidden="true"
              *ngIf="!todolist.completed"
            ></span>
            <span
              class="glyphicon glyphicon-trash todo-delete-icon"
              (click)="deleteTodo(index, todolist._id)"
            ></span>
        </div>
    </div>
</div>
